# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env da chave do gpt
.env

README.md

# Banco de dados local (SQLite)
database/users.db
database/users.db-journal

#backendpy
backend_py/analise_logs.json
backend_py/resumo_diario.json